<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="#" method="POST">
            <div>
                <label for="calc">input first numeric :     </label>
                <input id="input1" name="input1" type="text"  value="{{ num1 }}">
            </div>
            <div>
                <label for="calc">input second numeric :    </label>
                <input id="input2" name="input2" type="text"  value="{{ num2 }}">
            </div>
            
            <input type="submit" id="add" name="add" value="+">
            <input type="submit" id="sub" name="sub" value="-">
            <input type="submit" id="mul" name="mul" value="*">
            <input type="submit" id="div" name="div" value="/">
        </form>
    </div>
    <div>
        <h1>{{resultCalc}}</h1>
    </div>
    <div>
        <h1>Hello World</h1>

    </div>
</body>
</html>